@page
@model LesPiedsLegers.Pages.A_proposModel
@{
}

<div class="container mt-4">
    <h1>À propos de notre compagnie</h1>
    <p>Notre club a été fondé pour partager notre passion du plein air...</p>

    <h2>Nos Succursales</h2>
    <ul>
        <li>Succursale Laval</li>
        <li>Succursale Montérégie</li>
    </ul>

    <h2>Coordonnées</h2>
    <p>Email: contact@lespiedleger.com</p>
    <p>Téléphone: 012-345-6789</p>


    <h2>Images de nos locaux</h2>
    <img src="local1.jpg" alt="Local" class="img-fluid">
</div>