@page
@model LesPiedsLegers.Pages.ActiviteModel
@{
}
<div class="container mt-4">
    <h1>Nos Activités</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h4>Marche en Montagne</h4>
            <p>Description de l’activité : Une journée de randonnée dans les magnifiques montagnes.</p>
            <p>Niveau de difficulté : Intermédiaire</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h4>Kayak</h4>
            <p>Description de l’activité : Une aventure en kayak sur un lac paisible.</p>
            <p>Niveau de difficulté : Facile</p>
        </div>
    </div>
</div>