@page
@model LesPiedsLegers.Pages.liste_employesModel
@{
}
<div class="container mt-4">
    <h1>Nos Employés</h1>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="paul.jpg" class="card-img-top" alt="Paul Morissette">
                <div class="card-body">
                    <h5 class="card-title">Paul Morissette</h5>
                    <p class="card-text">Guide principal, passionné de randonnée.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="sophie.jpg" class="card-img-top" alt="Sophie Tremblay">
                <div class="card-body">
                    <h5 class="card-title">Sophie Tremblay</h5>
                    <p class="card-text">Responsable des ateliers, experte en kayak.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="marc.jpg" class="card-img-top" alt="Marc Dupuis">
                <div class="card-body">
                    <h5 class="card-title">Marc Dupuis</h5>
                    <p class="card-text">Coordinateur des événements, amoureux de la nature.</p>
                </div>
            </div>
        </div>
    </div>
</div>